{% extends "base.html" %}
{% block content %}
    <section class="section">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-content">
                    <p class="title">Are you sure you want to delete?</p>
                    <p class="subtitle mt-3">"{{ notes.title }}"</p>
                </div>
                <div class="card-footer pl-3 pb-3 pt-3">
                    <button class="button is-primary is-outlined mr-2"
                            type="submit"
                            value="Confirm">Confirm</button>
                    <button class="button is-danger is-outlined ml-2"
                            type="button"
                            id="cancelButton">Cancel</button>
                </div>
            </div>
        </form>
    </section>
    <script>
    var currentUrl = window.location.href;
    var cancelUrl;

    var noteId = currentUrl.split('/').pop();
    if (noteId === "delete") {
        currentUrl = currentUrl.substring(0, currentUrl.lastIndexOf('/'));
        noteId = currentUrl.split('/').pop();
    }

    var baseUrl = currentUrl.substring(0, currentUrl.lastIndexOf('/') + 1);
    var canceldetailUrl = baseUrl + noteId;
    cancelUrl = canceldetailUrl;


    document.getElementById("cancelButton").onclick = function() {
        window.location.href = cancelUrl;
    };
    </script>
{% endblock content %}
